@media screen and (min-width: 320px) {
  .footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2D5E5E;
  }
  .logo {

  }
}